<!DOCTYPE html>
<!--
Template Name: Sislaf
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>On The Board</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->

  <!-- ################################################################################################ -->
  <div style="background-image:url('images/demo/backgrounds/title_background.png');">
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear">
      <div class="fl_left"> 
        <!-- ################################################################################################ -->
        <ul class="nospace">
          <li><i class="fas fa-phone rgtspace-5"></i> +00 (123) 456 7890</li>
          <li><i class="far fa-envelope rgtspace-5"></i> info@domain.com</li>
        </ul>
        <!-- ################################################################################################ -->
      </div>
      <div class="fl_right"> 
        <!-- ################################################################################################ -->
        <ul class="nospace">
          <li><a href="index.html"><i class="fas fa-home"></i></a></li>
          <li><a href="/mypage" title="Mypage"><i class="far fa-life-ring"></i></a></li>
          <li><a href="/login" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
          <li><a href="#" title="Sign Up"><i class="fas fa-edit"></i></a></li>
          <li id="searchform">
            <div>
              <form action="#" method="post">
                <fieldset>
                  <legend>Quick Search:</legend>
                  <input type="text" placeholder="Enter search term&hellip;">
                  <button type="submit"><i class="fas fa-search"></i></button>
                </fieldset>
              </form>
            </div>
          </li>
        </ul>
        <!-- ################################################################################################ -->

      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
      <header id="header" class="hoc clear">
        <div id="logo" class="fl_left"> 
          <!-- ################################################################################################ -->
          <h1><a href="/">On The Board</a></h1>
          <!-- ################################################################################################ -->
        </div>
        <nav id="mainav" class="fl_right"> 
          <!-- ################################################################################################ -->
          <ul class="clear">
            <!--<li class="active"><a href="index.html">Home</a></li>-->
            <li><a class="drop" href="#">Lim 확인</a>
              <ul>
                <li><a href="/full-width">Full Width</a></li>
                <li><a href="/sidebar-left">Sidebar Left</a></li>
                <li><a href="/sidebar-right">Sidebar Right</a></li>
                <li><a href="/basic-grid">Basic Grid</a></li>
                <li><a href="/font-icons">Font Icons</a></li>
              </ul>
            </li>
            <li><a class="drop" href="#">Long Board</a>
              <ul>
                <li><a href="/gallery/1/1">COMPLETE</a></li>
                <li><a href="/gallery/1/2">DECK</a></li>
                <li><a href="/gallery/1/3">TRUCK</a></li>
                <li><a href="/gallery/1/4">WHEEL</a></li>
                <li><a href="/gallery/1/5">ETC.</a></li>
              </ul>
            </li>
            <li><a class="drop" href="#">Skate Board</a>
              <ul>
                <li><a href="/gallery/2/1">COMPLETE</a></li>
                <li><a href="/gallery/2/2">DECK</a></li>
                <li><a href="/gallery/2/3">TRUCK</a></li>
                <li><a href="/gallery/2/4">WHEEL</a></li>
                <li><a href="/gallery/2/5">ETC.</a></li>
              </ul>
            </li>
            <li><a class="drop" href="#">Cruiser Board</a>
              <ul>
                <li><a href="/gallery/3/1">COMPLETE</a></li>
                <li><a href="/gallery/3/2">DECK</a></li>
                <li><a href="/gallery/3/3">TRUCK</a></li>
                <li><a href="/gallery/3/4">WHEEL</a></li>
                <li><a href="/gallery/3/5">ETC.</a></li>
              </ul>
            </li>
            <li><a class="drop" href="#">SNOW&ETC.</a>
              <ul>
                <li><a href="/gallery/4/1">전동보드</a></li>
                <li><a href="/gallery/4/2">스노우스케이트</a></li>
                <li><a href="/gallery/4/3">스노우보드</a></li>
                <li><a href="/gallery/4/4">>ETC.</a></li>
              </ul>
            </li>
            <li><a class="drop" href="#">보호장구</a>
              <ul>
                <li><a href="/gallery/5/1">헬멧</a></li>
                <li><a href="/gallery/5/2">보호장구</a></li>
                <li><a href="/gallery/5/3">슬라이드퍽&글러브</a></li>
                <li><a href="/gallery/5/4">ETC.</a></li>
              </ul>
            </li>
            <!--<li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>-->
          </ul>
          <!-- ################################################################################################ -->
        </nav>
      </header>
    </div>
  </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/skateboarder-898336_1920.jpg');"> 
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <h3 class="heading">ON THE Board</h3>
      <p>since 2017</p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn inverse" href="#">감사 할인 이벤트</a></li>
          <li><a class="btn inverse" href="#">새 제품 보러가기</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <div class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <p class="nospace font-xs"></p>
      <p class="heading underline font-x2">BEST SELLER</p>
      <p>&nbsp</p>
      <p margin = "100px"><a class="btn inverse" href="#">View More</a></p>
    </div>
    <li>
  
</li>
 <!-- <script>
   // added
var gall  = setInterval(galleryFun, 2000);
var inter = true;
var idx = 2;

 function galleryFun(){
   
    $(".gallery ul").animate({
      "left":-300*idx+"px"
    },300);
   $(".g_item ul li").eq(idx-1).addClass("on").siblings().removeClass("on");
   idx++;
   if(idx> $(".gallery ul li").length-3){
     $(".gallery ul").animate({
       "left":0
     },0);
     idx=0;
     
   }
 }
 
 
 $(".gallery , .g_item").hover(function(){
   if(inter==true){
     clearInterval(gall);
     inter=false;
   }
 },function(){
   if(inter==false){
     gall  = setInterval(galleryFun, 2000);
     inter=true;
   }
   
 });
 
 
 
 $(".g_item ul li").on('click',function(){
   $(this).addClass("on").siblings().removeClass("on");
   idx = $(this).index()+1;
   $(".gallery ul").animate({
      "left":-300*idx+"px"
    },1000);
   
 });
 </script> -->
<!-- <div class="prev"></div> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="slide">
  <ul class="panel">
    <li>
      <ul class="nospace group team">
      <li class="one_quarter first">
        <figure><a class="imgover" href="#"><img src=<%=rows[0].img_url%> alt=""></a>
          <figcaption><strong><%=rows[0].name%></strong> <em><%=rows[0].price%>원</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="#"><img src=<%=rows[1].img_url%> alt=""></a>
          <figcaption><strong><%=rows[1].name%></strong> <em><%=rows[1].price%>원</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="#"><img src=<%=rows[2].img_url%> alt=""></a>
          <figcaption><strong><%=rows[2].name%></strong> <em><%=rows[2].price%>원</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="#"><img src=<%=rows[3].img_url%> alt=""></a>
          <figcaption><strong><%=rows[3].name%></strong> <em><%=rows[3].price%>원</em></figcaption>
        </figure>
      </li>
    </ul>
    </li>
    <li>
      <ul class="nospace group team">
      <li class="one_quarter first">
        <figure><a class="imgover" href="#"><img src=<%=rows[4].img_url%> alt=""></a>
          <figcaption><strong><%=rows[4].name%></strong> <em><%=rows[4].price%>원</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="#"><img src=<%=rows[5].img_url%> alt=""></a>
          <figcaption><strong><%=rows[5].name%></strong> <em><%=rows[5].price%>원</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="#"><img src=<%=rows[6].img_url%> alt=""></a>
          <figcaption><strong><%=rows[6].name%></strong> <em><%=rows[6].price%>원</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="#"><img src=<%=rows[7].img_url%> alt=""></a>
          <figcaption><strong><%=rows[7].name%></strong> <em><%=rows[7].price%>원</em></figcaption>
        </figure>
      </li>
    </ul>
    </li>
    <li>
      <ul class="nospace group team">
      <li class="one_quarter first">
        <figure><a class="imgover" href="#"><img src=<%=rows[8].img_url%> alt=""></a>
          <figcaption><strong><%=rows[8].name%></strong> <em><%=rows[8].price%>원</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="#"><img src=<%=rows[9].img_url%> alt=""></a>
          <figcaption><strong><%=rows[9].name%></strong> <em><%=rows[9].price%>원</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="#"><img src=<%=rows[10].img_url%> alt=""></a>
          <figcaption><strong><%=rows[10].name%></strong> <em><%=rows[10].price%>원</em></figcaption>
        </figure>
      </li>
      <li class="one_quarter">
        <figure><a class="imgover" href="#"><img src=<%=rows[11].img_url%> alt=""></a>
          <figcaption><strong><%=rows[11].name%></strong> <em><%=rows[11].price%></em></figcaption>
        </figure>
      </li>
    </ul>
    </li>
    
    
  </ul>
</div>
   
<!-- <div class="next"></div> -->
    
<div class="dot">
  <li class="on">슬라이드 버튼1번</li>
  <li>슬라이드 버튼2번</li>
  <li>슬라이드 버튼3번</li>
</div>
  
<div class="slide_btn_box">
  <button type ="button" class="prev">◀</button>
  <button type ="button" class="next">▶</button>
</div>


<script>
  $(document).ready(function() {
  slide();
});


// 슬라이드 
function slide() {
  var wid = 0;
  var now_num = 0;
  var slide_length = 0;
  var auto = null;
  var $dotli = $('.dot>li');
  var $panel = $('.panel');
  var $panelLi = $panel.children('li');

  // 변수 초기화
  function init() {
    wid = $('.slide').width();
    now_num = $('.dot>li.on').index();
    slide_length = $dotli.length;
  }

  // 이벤트 묶음
  function slideEvent() {

    // 슬라이드 하단 dot버튼 클릭했을때
    $dotli.click(function() {
      now_num = $(this).index();
      slideMove();
    });

    // 이후 버튼 클릭했을때
    $('.next').click(function() {
      nextChkPlay();
    });

    // 이전 버튼 클릭했을때
    $('.prev').click(function() {
      prevChkPlay();
    });

    // 오토플레이
    autoPlay();

    // 오토플레이 멈춤
    autoPlayStop();

    // 오토플레이 재시작
    autoPlayRestart();

    // 화면크기 재설정 되었을때
    resize();
  }

  // 자동실행 함수
  function autoPlay() {
    auto = setInterval(function() {
      nextChkPlay();
    }, 3000);
  }

  // 자동실행 멈춤
  function autoPlayStop() {
    $panelLi.mouseenter(function() {
      clearInterval(auto);
    });
  }


  // 자동실행 멈췄다가 재실행
  function autoPlayRestart() {
    $panelLi.mouseleave(function() {
      auto = setInterval(function() {
        nextChkPlay();
      }, 3000);
    });
  }

  // 이전 버튼 클릭시 조건 검사후 슬라이드 무브
  function prevChkPlay() {
    if (now_num == 0) {
      now_num = slide_length - 1;
    } else {
      now_num--;
    }
    slideMove();
  }

  // 이후 버튼 클릭시 조건 검사후 슬라이드 무브
  function nextChkPlay() {
    if (now_num == slide_length - 1) {
      now_num = 0;
    } else {
      now_num++;
    }
    slideMove();
  }

  // 슬라이드 무브
  function slideMove() {
    $panel.stop().animate({
      'margin-left': -wid * now_num
    });
    $dotli.removeClass('on');
    $dotli.eq(now_num).addClass('on');
  }

  // 화면크기 조정시 화면 재설정
  function resize() {
    $(window).resize(function() {
      init();
      $panel.css({
        'margin-left': -wid * now_num
      });
    });
  }
  init();
  slideEvent();
}
</script>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <p class="nospace font-xs">생생한 고객님의 후기</p>
      <p class="heading underline font-x2">BEST REVIEW</p>
    </div>
    <ul id="latest" class="nospace group">
      <li class="one_third first">
        <article><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
          <ul class="nospace meta group">
            <li><i class="fas fa-user"></i> <a href="#">yunhye</a></li>
            <li><i class="far fa-clock"></i>
              <time datetime="2045-04-06T08:15+00:00">06 Apr 2045</time>
            </li>
          </ul>
          <div class="excerpt">
            <h6 class="heading">보드 입문자에게 좋은 보드네요!</h6>
            <p>학교에서 보드 동아리를 하면서 타게 되었는데 데크도 튼튼하고 디자인도 예쁩니다. 오래오래 잘 쓸듯해요</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
          <ul class="nospace meta group">
            <li><i class="fas fa-user"></i> <a href="#">yoolim</a></li>
            <li><i class="far fa-clock"></i>
              <time datetime="2045-04-05T08:15+00:00">05 Apr 2045</time>
            </li>
          </ul>
          <div class="excerpt">
            <h6 class="heading">인생 보드 발견</h6>
            <p>8년째 스케이트 보드를 취미로 하는 사람입니다. 믿고 오는 온더보드에서 또 한번 인생보드를 발견했네요.</p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a>
          <ul class="nospace meta group">
            <li><i class="fas fa-user"></i> <a href="#">sejung</a></li>
            <li><i class="far fa-clock"></i>
              <time datetime="2045-04-04T08:15+00:00">04 Apr 2045</time>
            </li>
          </ul>
          <div class="excerpt">
            <h6 class="heading">보드 선수가 보장하는 보드맛집!</h6>
            <p>스케이트보드 국가대표 홍세정입니다. 온더보드 신제품은 다 사는 편이고요, 정말 다양하고 질 좋은 보드만 있다는 걸 느낍니다. </p>
            <footer><a class="btn" href="#">Read More</a></footer>
          </div>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/05.jpg');">
  <section id="splitfifty" class="hoc container clear">
    <div class="sectiontitle">
      <p class="nospace font-xs">보드 축제 및 대회 정보</p>
      <p class="heading underline font-x2">Board Festival & Compeition</p>
      <p>&nbsp</p>
      <p margin = "100px"><a class="btn inverse" href="#">View More</a></p>
    </div>
    <div class="bgded clear" style="background-image:url('images/demo/backgrounds/otbfestival.png');"> 
      <!-- ################################################################################################ -->
      <article > 
        <h6 class="heading font-x2">2021 On The Board Festival</h6>
        <p>국내 최대 규모의 보드 축제이자, 스케이트 보드 트릭 대회인 2021 On The Board Festival을 개최합니다!</p>
        <p>일시: 2021년 10월 24일 ~ 25일</p>
        <p>장소: 여의도한강공원</p>
        <footer><a class="btn" href="#">View Details</a></footer>
      </article>
      <!-- ################################################################################################ -->
      
    </div>
  </section>
  
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <p class="nospace font-xs">국내 최정상 스케이트보드 쇼핑몰, On The Board가 걸어온 길</p>
      <p class="heading underline font-x2">Since 2017</p>
    </div>
    <ul id="stats" class="nospace group">
      <li><i class="fab fa-sticker-mule"></i>
        <p><a href="#">1위</a></p>
        <p>국내 스케이트 쇼핑몰 규모</p>
      </li>
      <li><i class="fab fa-pied-piper-alt"></i>
        <p><a href="#">150만</a></p>
        <p>총 회원수</p>
      </li>
      <li><i class="fas fa-globe"></i>
        <p><a href="#">대통령상</a></p>
        <p>2017년 이래 5년 연속</p>
      </li>
      <li><i class="fas fa-ribbon"></i>
        <p><a href="#">500곳</a></p>
        <p>오프라인 매장</p>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
  
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay row4" style="background-image:url('images/demo/backgrounds/starry-night-1149644_1920.jpg');">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h6 class="heading">On The Board</h6>
      <ul class="faico clear">
        <li><a class="faicon-dribble" href="#"><i class="fab fa-dribbble"></i></a></li>
        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
      </ul>
      <p class="nospace">SNS에서 업데이트 되는 신제품들을 더 빠르게 접해보세요!</p>
    </div>
    <!-- ################################################################################################ -->
    <hr class="btmspace-50">
    <!-- ################################################################################################ -->
    <div class="group btmspace-50">
      <div class="one_quarter first">
         <h6 class="heading">About us</h6>
        <ul class="nospace linklist">
          <li><a href="#">About On The Board</a></li>
        </ul>
        
      </div>
      <div class="one_quarter">
        <h6 class="heading">고객관련</h6>
        <ul class="nospace linklist">
          <li><a href="#">개인정보취급방침</a></li>
          <li><a href="#">이용약관</a></li>
        </ul>
       
      </div>
      <div class="one_quarter">
        <h6 class="heading">배송 시기 안내</h6>
        <ul class="nospace linklist">
          <li>입금 후 1 ~ 3일이 소요됩니다.</li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">입금 계좌 안내</h6>
        <ul class="nospace linklist">
          <li>국민은행 012345678910</li>
          <li>농협은행 123456788910</li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <div id="ctdetails" class="clear">
      <ul class="nospace clear">
        <li class="one_quarter first">
          <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>전화번호:</strong> (02) 987-6543</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>이메일:</strong>123yunhye@kw.ac.kr</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> 월요일 - 금요일:</strong> 09.00am - 17.00pm</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>위치:</strong> 오시는 길 안내 <a href="https://map.naver.com/v5/directions/-/14144080.429905552,4525854.546850104,%EA%B4%91%EC%9A%B4%EB%8C%80%ED%95%99%EA%B5%90,11591508,PLACE_POI/-/transit?c=14143130.2059919,4525937.9626935,15,0,0,0,dh" target="_blank">링크</a></span></div>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="#">On The Board</a></p>
    <p class="fl_right"><a target="_blank" ></a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>