<!DOCTYPE html>
<!--
Template Name: Sislaf
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>On The Board</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../../layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->

  <!-- ################################################################################################ -->
  <div style="background-image:url('images/demo/backgrounds/title_background.png');">

    <div class="wrapper row0">
      <div id="topbar" class="hoc clear">
        <div class="fl_left"> 
          <!-- ################################################################################################ -->
          <ul class="nospace">
            <li><i class="fas fa-phone rgtspace-5"></i> +00 (123) 456 7890</li>
            <li><i class="far fa-envelope rgtspace-5"></i> info@domain.com</li>
          </ul>
          <!-- ################################################################################################ -->
        </div>
        <div class="fl_right"> 
          <!-- ################################################################################################ -->
          <ul class="nospace">
            <% if(user!=null){ if(user[0].who==1){ %>
              <li><a style="font-size: 15px" href="/upload">판매자 업로드 페이지</a></li>
            <% } } %>
            <li><a style="font-size: 15px" href="/">home으로</a></li>
            <% if (user == null) { %>
              <li><a style="font-size: 15px" href="/login" title="Login">login</a></li>
              <li><a style="font-size: 15px" href="/join" title="Sign Up">join</a></li>
            <% } else {%>
              <li><a style="font-size: 15px"><%=user[0].id %> 님 로그인</a></li>
              <li><a style="font-size: 15px" href="/mypage" title="Mypage">mypage</a></li>
              
              <li>
                <form action="/logout" method="post" onsubmit="return onWriteSubmit()"> 
                  <input type="submit" class="inverse btn" style="cursor:pointer; height:30px"value="로그아웃"></a>       
                </form>  
              </li> 
            <% } %>
            
          </ul>
          <!-- ################################################################################################ -->
        </div>
      </div>
    </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <div class="wrapper row1">
        <header id="header" class="hoc clear">
          <div id="logo" class="fl_left"> 
            <!-- ################################################################################################ -->
            <h1><a href="/">On The Board</a></h1>
            <!-- ################################################################################################ -->
          </div>
          <nav id="mainav" class="fl_right"> 
            <!-- ################################################################################################ -->
            <ul class="clear">
              <!--<li class="active"><a href="index.html">Home</a></li>-->
              <li><a class="drop" href="#">Long Board</a>
                <ul>
                  <li><a href="/gallery/1/1&name">COMPLETE</a></li>
                  <li><a href="/gallery/1/2&name">DECK</a></li>
                  <li><a href="/gallery/1/3&name">TRUCK</a></li>
                  <li><a href="/gallery/1/4&name">WHEEL</a></li>
                  <li><a href="/gallery/1/5&name">ETC.</a></li>
                </ul>
              </li>
              <li><a class="drop" href="#">Skate Board</a>
                <ul>
                  <li><a href="/gallery/2/6&name">COMPLETE</a></li>
                  <li><a href="/gallery/2/7&name">DECK</a></li>
                  <li><a href="/gallery/2/8&name">TRUCK</a></li>
                  <li><a href="/gallery/2/9&name">WHEEL</a></li>
                  <li><a href="/gallery/2/10&name">ETC.</a></li>
                </ul>
              </li>
              <li><a class="drop" href="#">Cruiser Board</a>
                <ul>
                  <li><a href="/gallery/3/11&name">COMPLETE</a></li>
                  <li><a href="/gallery/3/12&name">DECK</a></li>
                  <li><a href="/gallery/3/13&name">TRUCK</a></li>
                  <li><a href="/gallery/3/14&name">WHEEL</a></li>
                  <li><a href="/gallery/3/15&name">ETC.</a></li>
                </ul>
              </li>
              <li><a class="drop" href="#">SNOW&ETC.</a>
                <ul>
                  <li><a href="/gallery/4/16&name">전동보드</a></li>
                  <li><a href="/gallery/4/17&name">스노우스케이트</a></li>
                  <li><a href="/gallery/4/18&name">스노우보드</a></li>
                  <li><a href="/gallery/4/19&name">>ETC.</a></li>
                </ul>
              </li>
              <li><a class="drop" href="#">보호장구</a>
                <ul>
                  <li><a href="/gallery/5/20&name">헬멧</a></li>
                  <li><a href="/gallery/5/21&name">보호장구</a></li>
                  <li><a href="/gallery/5/22&name">슬라이드퍽&글러브</a></li>
                  <li><a href="/gallery/5/23&name">ETC.</a></li>
                </ul>
              </li>
              <!--<li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>-->
            </ul>
            <!-- ################################################################################################ -->
          </nav>
        </header>
      </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <main class="hoc container clear"> 
      <div class="sectiontitle">
        <p class="nospace font-xs"></p>
        <p class="heading underline font-x2">my page</p>
        <p>마이페이지</p>
      </div>
  
      <div class="sidebar one_quarter first" style="width: 200px;"> 
        <nav class="sdb_holder">
          <ul>
            <li><a href="/mypage">내정보</a></li>
          <% if (user[0].who == 0) { %>
            <li><a href="/member">회원관리</a></li>
          <% } %>
          <% if (user[0].who == 1) { %>
            <li><a href="/sales-history-seller">판매내역</a></li>
            <li><a href="/sales-status-seller">상품주문현황</a></li>
            <li><a href="/sales-statistics-seller">매출통계</a></li>
          <% } %>
          <% if (user[0].who == 2) { %>
            <li><a href="/order-list-buyer">구매내역</a></li>
            <li><a href="/jjim">찜한 상품 보기</a></li>
          <% } %>
          </ul>
        </nav>
      </div> 
      <!-- ################################################################################################ -->
      <div class="content three_quarter">
        <figure>
          <header class="heading"><strong>구매내역 보기</strong></header>
        <!-- 구매 내역 --> 
        <%
        if (rows.length == 0) {
        %>
          구매 내역이 없습니다.
        <%
        } else {
        %>
        <table style="margin-bottom: 0px;">
            <th>순서</th>
            <th>주문일자</th>
            <th style="width: 150px;">이미지</th>
            <th>상품정보</th>
            <th>수량</th>
            <th>상품 구매 금액</th>
            <th>주문 처리 상태</th>
            
            <%
            function addComma(num) {
                var regexp = /\B(?=(\d{3})+(?!\d))/g;
                return num.toString().replace(regexp, ',');
            }

            var index = 1;
            for (var i = 0; i < rows.length; i++) { 
                var row = rows[i];
                var dateString = String(row.create_date);
                var dateArr = dateString.split(' ');
              
                if (i > 0) {
                    if (String(rows[i-1].create_date) != String(row.create_date)) {
                        index = index+1;
                    }
                }
            %>
            <tr>
                <td><%=index%></td>
                <td><%=dateArr[2]%> <%=dateArr[1]%>, <%=dateArr[3]%> <%=dateArr[4]%></td>
                <td><a class="imgover" href="/gallery/<%=row.category1_id%>/<%=row.category2_id%>/<%=row.product_id%>"><img src="<%=row.img_url%>" alt=""></a></td>
                <td><a href="/gallery/<%=row.category1_id%>/<%=row.category2_id%>/<%=row.product_id%>" ><strong><%=row.name%></strong></a></td>
                <td><%=row.product_cnt%></td>
                <td><%=addComma(row.price)%>원</td>
                <td>
                    <p>배송완료</p>
                    <a href="/gallery/<%=row.category1_id%>/<%=row.category2_id%>/<%=row.product_id%>">후기 작성하기</a>
                </td>
            </tr>
            <% } %>
        </table>
        </figure>
        <% } %>
      </div>
    </main>
  </div>
</div>

<script>
  function changeInput(checked) {
        if (checked.checked) {
        //setUser1and2_same();
        document.getElementById("name2").value = document.getElementById("name1").value;
        document.getElementById("address2").value = document.getElementById("address1").value;
        document.getElementById("phone_number2").value = document.getElementById("phone_number1").value;
        } else {
          document.getElementById("name2").value = "";
          document.getElementById("address2").value = "";
          document.getElementById("phone_number2").value ="";
        }
      }
      
      /* // 날짜 넘겨주기
      var now_date = new Date();
      var dateToString = now_date.format("yyyy-MM-dd HH:mm:ss");
      document.getElementsByName("create_date").value = dateToString; */
</script>
      
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<div class="bgded overlay row4" style="background-image:url('images/demo/backgrounds/starry-night-1149644_1920.jpg');">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h6 class="heading">On The Board</h6>
      <ul class="faico clear">
        <li><a class="faicon-dribble" href="#"><i class="fab fa-dribbble"></i></a></li>
        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
      </ul>
      <p class="nospace">SNS에서 업데이트 되는 신제품들을 더 빠르게 접해보세요!</p>
    </div>
    <!-- ################################################################################################ -->
    <hr class="btmspace-50">
    <!-- ################################################################################################ -->
    <div class="group btmspace-50">
      <div class="one_quarter first">
         <h6 class="heading">About us</h6>
        <ul class="nospace linklist">
          <li><a href="#">About On The Board</a></li>
        </ul>
        
      </div>
      <div class="one_quarter">
        <h6 class="heading">고객관련</h6>
        <ul class="nospace linklist">
          <li><a href="#">개인정보취급방침</a></li>
          <li><a href="#">이용약관</a></li>
        </ul>
       
      </div>
      <div class="one_quarter">
        <h6 class="heading">배송 시기 안내</h6>
        <ul class="nospace linklist">
          <li>입금 후 1 ~ 3일이 소요됩니다.</li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">입금 계좌 안내</h6>
        <ul class="nospace linklist">
          <li>국민은행 012345678910</li>
          <li>농협은행 123456788910</li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <div id="ctdetails" class="clear">
      <ul class="nospace clear">
        <li class="one_quarter first">
          <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>전화번호:</strong> (02) 987-6543</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>이메일:</strong>123yunhye@kw.ac.kr</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> 월요일 - 금요일:</strong> 09.00am - 17.00pm</span></div>
        </li>
        <li class="one_quarter">
          <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>위치:</strong> 오시는 길 안내 <a href="https://map.naver.com/v5/directions/-/14144080.429905552,4525854.546850104,%EA%B4%91%EC%9A%B4%EB%8C%80%ED%95%99%EA%B5%90,11591508,PLACE_POI/-/transit?c=14143130.2059919,4525937.9626935,15,0,0,0,dh" target="_blank">링크</a></span></div>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="#">On The Board</a></p>
    <p class="fl_right"><a target="_blank" ></a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>