<!DOCTYPE html>
<!--
Template Name: Sislaf
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>On the board | Pages | Gallery</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('/images/demo/backgrounds/01.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear">
      <div class="fl_left"> 
        <!-- ################################################################################################ -->
        <ul class="nospace">
          <li><i class="fas fa-phone rgtspace-5"></i> +00 (123) 456 7890</li>
          <li><i class="far fa-envelope rgtspace-5"></i> info@domain.com</li>
        </ul>
        <!-- ################################################################################################ -->
      </div>
      <div class="fl_right"> 
        <!-- ################################################################################################ -->
        <ul class="nospace">
          <li><a href="/"><i class="fas fa-home"></i></a></li>
          <li><a href="#" title="Help Centre"><i class="far fa-life-ring"></i></a></li>
          <li><a href="#" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
          <li><a href="#" title="Sign Up"><i class="fas fa-edit"></i></a></li>
          <li id="searchform">
            <div>
              <form action="#" method="post">
                <fieldset>
                  <legend>Quick Search:</legend>
                  <input type="text" placeholder="Enter search term&hellip;">
                  <button type="submit"><i class="fas fa-search"></i></button>
                </fieldset>
              </form>
            </div>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </div>
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
        <!-- ################################################################################################ -->
        <h1><a href="/">On the board</a></h1>
        <!-- ################################################################################################ -->
      </div>
      <nav id="mainav" class="fl_right"> 
        <!-- ################################################################################################ -->
        <ul class="clear">
          <!--<li class="active"><a href="index.html">Home</a></li>-->
          <li><a class="drop" href="#">Long Board</a>
            <ul>
              <li><a href="/gallery/1/1">COMPLETE</a></li>
              <li><a href="/gallery/1/2">DECK</a></li>
              <li><a href="/gallery/1/3">TRUCK</a></li>
              <li><a href="/gallery/1/4">WHEEL</a></li>
              <li><a href="/gallery/1/5">ETC.</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Skate Board</a>
            <ul>
              <li><a href="/gallery/2/1">COMPLETE</a></li>
              <li><a href="/gallery/2/2">DECK</a></li>
              <li><a href="/gallery/2/3">TRUCK</a></li>
              <li><a href="/gallery/2/4">WHEEL</a></li>
              <li><a href="/gallery/2/5">ETC.</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Cruiser Board</a>
            <ul>
              <li><a href="/gallery/3/1">COMPLETE</a></li>
              <li><a href="/gallery/3/2">DECK</a></li>
              <li><a href="/gallery/3/3">TRUCK</a></li>
              <li><a href="/gallery/3/4">WHEEL</a></li>
              <li><a href="/gallery/3/5">ETC.</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">SNOW&ETC.</a>
            <ul>
              <li><a href="/gallery/4/1">전동보드</a></li>
              <li><a href="/gallery/4/2">스노우스케이트</a></li>
              <li><a href="/gallery/4/3">스노우보드</a></li>
              <li><a href="/gallery/4/4">>ETC.</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">보호장구</a>
            <ul>
              <li><a href="/gallery/5/1">헬멧</a></li>
              <li><a href="/gallery/5/2">보호장구</a></li>
              <li><a href="/gallery/5/3">슬라이드퍽&글러브</a></li>
              <li><a href="/gallery/5/4">ETC.</a></li>
            </ul>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="breadcrumb" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <h6 class="heading">Gallery</h6>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Lorem</a></li>
      <li><a href="#">Ipsum</a></li>
      <li><a href="#">Dolor</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter first"> 
      <!-- ################################################################################################ -->
      <h6>제품 목록</h6>
      <nav class="sdb_holder">
        <ul>
          <li><a class="drop" href="#">Long Board</a>
            <ul>
              <li><a href="/gallery/1/1">COMPLETE</a></li>
              <li><a href="/gallery/1/2">DECK</a></li>
              <li><a href="/gallery/1/3">TRUCK</a></li>
              <li><a href="/gallery/1/4">WHEEL</a></li>
              <li><a href="/gallery/1/5">ETC.</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Skate Board</a>
            <ul>
              <li><a href="/gallery/2/1">COMPLETE</a></li>
              <li><a href="/gallery/2/2">DECK</a></li>
              <li><a href="/gallery/2/3">TRUCK</a></li>
              <li><a href="/gallery/2/4">WHEEL</a></li>
              <li><a href="/gallery/2/5">ETC.</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Cruiser Board</a>
            <ul>
              <li><a href="/gallery/3/1">COMPLETE</a></li>
              <li><a href="/gallery/3/2">DECK</a></li>
              <li><a href="/gallery/3/3">TRUCK</a></li>
              <li><a href="/gallery/3/4">WHEEL</a></li>
              <li><a href="/gallery/3/5">ETC.</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">SNOW&ETC.</a>
            <ul>
              <li><a href="/gallery/4/1">전동보드</a></li>
              <li><a href="/gallery/4/2">스노우스케이트</a></li>
              <li><a href="/gallery/4/3">스노우보드</a></li>
              <li><a href="/gallery/4/4">>ETC.</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">보호장구</a>
            <ul>
              <li><a href="/gallery/5/1">헬멧</a></li>
              <li><a href="/gallery/5/2">보호장구</a></li>
              <li><a href="/gallery/5/3">슬라이드퍽&글러브</a></li>
              <li><a href="/gallery/5/4">ETC.</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="sdb_holder">
        <address>
        Full Name<br>
        Address Line 1<br>
        Address Line 2<br>
        Town/City<br>
        Postcode/Zip<br>
        <br>
        Tel: xxxx xxxx xxxxxx<br>
        Email: <a href="#">contact@domain.com</a>
        </address>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="content read_picture"> 
      <h1>상품 상세 설명</h1>
      <img class="" src="/<%=rows[0].img_url%>" alt=""/>
      <h3><%=rows[0].name%></h3>
      <p><%=rows[0].price%>원</p>
      <a class="btn" href="/order/<%=rows[0].id%>/1">구매</a>
      <a class="btn">장바구니</a>
      <br><br><br><br><br><br><br><br>
      <img class="" src = "/<%=rows[0].detail_img_url%>" alt=""/>
      <br><br><br><br><br><br><br><br>
    </div>
    <div class="scrollable">
      <table>
        <thead>
          <tr>
            <th>작성자</th>
            <th>제목</th>
            <th>내용</th>
            <th>날짜</th>
          </tr>
        </thead>
<%
        for(var i =0;i<reviewrows.length;i++){
          var oneItem=reviewrows[i];
%>
        <tbody>
          <tr>
            <th><%=oneItem.user_id%></th>
            <th><%=oneItem.title%></th>
            <th><%=oneItem.context%></th>
            <th><%=oneItem.create_date%></th>
          </tr>
          <tr><th><img src="/<%=oneItem.img_url%>"/></th></tr>
        </tbody>
<%
      }
%>
      </table>
    </div>
  </main>
</div>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>